<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header :: header" />
<body>
  <div class="container" th:object="${customer}">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
      <h3> 전체 주문 확인 </h3>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>이미지</th>
          <th>상품명</th>
          <th>고객명</th>
          <th>진행상태</th>
          <th>마감기한</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="perfume : ${perfumeProductRequests}">
            <td th:text="${perfume.id}"></td>
            <td><img th:src="${perfume.image}" alt="" style = "width: 80px; height: 80px; border-radius: 10px;"> </td>
            <td th:text="${perfume.name}"></td>
            <td th:text="${perfume.customer.name}"></td>
            <td th:text="${perfume.status}"></td>
            <td th:text="${perfume.deadline}"></td>
    <!--        <td>-->
    <!--          <a href="#" th:href="@{/items/{id}/edit (id=${perfume.id})}"-->
    <!--             class="btn btn-primary" role="button">수정</a>-->
    <!--        </td>-->
          </tr>
        </tbody>

      </table>

      <table  class="table table-striped">
        <div>
          <thead>
          <tr>
            <th>#</th>
            <th>이미지</th>
            <th>상품명</th>
            <th>고객명</th>
            <th>진행상태</th>
            <th>마감기한</th>
            <th>상태변경</th>
          </tr>
          </thead>
          <br>
          <h3> 제조 진행중인 주문 </h3>
          <tbody>
            <tr th:each="perfume : ${perfumeProductProcessingRequests}">
              <td th:text="${perfume.id}"></td>
              <td><img th:src="${perfume.image}" alt="" style = "width: 80px; height: 80px; border-radius: 10px;"> </td>
              <td th:text="${perfume.name}"></td>
              <td th:text="${perfume.customer.name}"></td>
              <td th:text="${perfume.status}"></td>
              <td th:text="${perfume.deadline}"></td>
              <td>
                <a
                        th:if="${perfume.status.name() == 'PROCESSING'}"
                     href="#" th:href="'javascript:complete('+${perfume.id}+', '+${customer.id}+')'"
                     class="btn btn-primary" role="button">완료
                </a>
              </td>

            </tr>
          </tbody>
        </div>
      </table>
        <br>

      <table  class="table table-striped">
        <div>
          <thead style="margin-top : 30px;">
            <tr>
              <th>#</th>
              <th>이미지</th>
              <th>상품명</th>
              <th>고객명</th>
              <th>진행상태</th>
              <th>마감기한</th>
            </tr>
          </thead>
          <tbody>
            <h3 > 제조 완료된 주문 </h3>
            <tr th:each="perfume : ${perfumeProductCompleteRequests}">
                <td th:text="${perfume.id}"></td>
                <td><img th:src="${perfume.image}" alt="" style = "width: 80px; height: 80px; border-radius: 10px;"> </td>
                <td th:text="${perfume.name}"></td>
                <td th:text="${perfume.customer.name}"></td>
                <td th:text="${perfume.status}"></td>
                <td th:text="${perfume.deadline}"></td>
            </tr>
          </tbody>
          </div>
      </table>
    <div th:replace="fragments/footer :: footer"/>
    </div>
  </div> <!-- /container -->
  <script>
    function complete(itemId, customerId) {
      var form = document.createElement("form");
      form.setAttribute("method", "POST");
      form.setAttribute("action","/" + customerId +  "/" + itemId + "/perfumeProductionComplete");
      document.body.appendChild(form);
      form.submit();
    }
  </script>
</body>
</html>