<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>나이</th>
                <th>성별</th>
                <th>국적</th>
                <th>도시</th>
                <th>상세 주소</th>
                <th>권한</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.age}"></td>
                <td th:text="${customer.gender}"></td>
                <td th:text="${customer.address.country}"></td>
                <td th:text="${customer.address.city}"></td>
                <td th:text="${customer.address.detailedAddress}"></td>
                <td th:text="${customer.auth}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>