<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <form role="form" action="/login"  th:object="${loginForm}" method="post" >
    <div class="form-group">
      <label for="id">아이디</label>
      <input type="text" th:field="*{id}" id="id" class="form-control" placeholder="아이디">
    </div>

    <div class="form-group">
      <label for="password">비밀번호</label>
      <input type="text" th:field="*{password}" id="password" class="form-control" placeholder="비밀번호">
    </div>

    <button type="submit" class="btn btn-primary" style="margin-top: 20px; margin-bottom: 20px;">Login</button>
  </form>
  <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>